/* .vitepress/theme/custom.css */

/*
:root {
    --vp-font-family-base: "Kakao Small"; // 일반 텍스트 폰트
    --vp-font-family-mono: "Kakao Small"; // 코드 폰트
}
*/

body {
    background-image: url('/img/wavy-lines.svg');
}

